<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Gros Title</title>
    {% endblock %}
    {% block head %}
    <nav class="navbar navbar-expand-lg  shadow-sm p-3 mb-5 bg-white rounded">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/index">Главная</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/catalog">Каталог</a>
                    </li>

                </ul>
                <div class="d-flex justify-content-center text-success>">
                <h2 class="text-success">{% block name %}Имя-{{name}} {% endblock %}</h2>
                </div>
                <div class="d-flex">
                    <a class="nav-link active" aria-current="page" href="/autoris_form">Авторизация</a>
                </div>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    {% endblock %}
</head>
<body>
{% block content %}

<div class="jumbotron text-center">
    <h1>{{h1}}</h1>
</div>

{% endblock %}

{% block footer %}
<div class="card text-center">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Сделать заказ</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>
{% endblock %}
</body>
</html>